@media screen and (max-width: 1200px) {
    section#hero .hero-bg ul li.hero-text h1 {
        font-size: 34px;
    }
}

@media screen and (max-width: 991px) {
    section .title h4 {
        font-size: 16px;
    }

    section .title h1 {
        margin-top: -6px;
        font-size: 32px;
    }

    section#heroDetailBootcamp .title h4 {
        font-size: 14px;
    }

    section#heroDetailBootcamp .title h1 {
        font-size: 20px;
        padding-right: 18px;
    }

    section#heroDetailBootcamp .hero-bg .hero-text p {
        padding-right: 18px;
        font-size: 14px;
    }

    section#hero .hero-bg ul li.hero-text {
        padding: 16px 0;
    }

    section#hero .hero-bg ul li.hero-text h1 {
        font-size: 24px;
    }

    section#hero .hero-bg ul li.hero-text p {
        font-size: 12px;
    }

    section#hero .hero-bg ul li.hero-text .btn-hero {
        margin-top: 0;
    }

    section#hero .hero-bg ul li.hero-text .btn-hero button {
        padding: 6px 10px;
        font-size: 12px;
    }

    section#ctaBadge .cta-bg {
        background-position-x: center;
    }

    section#ctaBadge .cta-bg img {
        width: 18%;
    }

    section#ctaBadge .cta-bg .cta-text {
        margin-bottom: 14px;
        font-size: 14px;
    }

    section#ctaBadge .cta-bg .btn-cta button {
        font-size: 14px;
        font-weight: var(--semi-bold);
    }

    section#hero-bootcamp .desc {
        width: 100%;
    }

    section#card-bootcamp .container-card ul.card-wrapper li .card-bootcamp {
        width: 206px;
    }

    section#card-bootcamp
        .container-card
        ul.card-wrapper
        li
        .card-bootcamp
        .tags-wrapper
        .tags-bootcamp
        button {
        font-size: 12px;
    }

    section#card-bootcamp
        .container-card
        ul.card-wrapper
        li
        .card-bootcamp
        .tags-wrapper {
        top: -38px;
    }

    section#card-bootcamp
        .container-card
        ul.card-wrapper
        li
        .card-bootcamp
        img {
        height: 172px;
    }

    section#card-bootcamp
        .container-card
        ul.card-wrapper
        li
        .card-bootcamp
        .desc-bootcamp
        button {
        font-size: 12px;
        text-align: left;
        border: none;
        background-color: transparent;
        padding: 0;
    }

    section#card-bootcamp
        .container-card
        ul.card-wrapper
        li
        .card-bootcamp
        .desc-bootcamp
        .bootcamp-title {
        font-size: 14px;
        line-height: 20px;
    }

    section#card-bootcamp
        .container-card
        ul.card-wrapper
        li
        .card-bootcamp
        .desc-bootcamp
        .details
        ul.price-wrapper {
        justify-content: space-between;
    }

    section#card-bootcamp
        .container-card
        ul.card-wrapper
        li
        .card-bootcamp
        .desc-bootcamp
        .details
        ul.price-wrapper
        li {
        font-size: 12px;
    }

    section#card-bootcamp
        .container-card
        ul.card-wrapper
        li
        .card-bootcamp
        .desc-bootcamp
        .details
        .btn-detail
        button
        i {
        font-size: 16px;
    }

    section#bootcampCard .card-bootcamp .img-card {
        width: 230px;
    }

    section#bootcampCard .card-bootcamp .bootcamp-img {
        height: 264px;
    }

    section#bootcampCard .card-bootcamp .bootcamp-name {
        font-size: 22px;
    }

    footer .desc-lagiNgoding img {
        width: 52%;
        margin-bottom: 20px;
    }

    footer .desc-lagiNgoding p {
        font-size: 12px;
    }

    footer h4 {
        margin: 4px 0 20px;
    }

    footer a {
        font-size: 12px;
    }

    footer ul.bottom-footer li {
        font-size: 14px;
    }

    footer ul.bottom-footer ul.socmed li {
        width: 34px;
        height: 34px;
        padding: 8px;
    }
}

@media screen and (max-width: 767px) {
    nav .navbar-collapse {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    nav .navbar-collapse ul {
        align-items: flex-start;
        padding: 10px;
    }

    section#hero .hero-bg ul.hero-content-list {
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 0;
    }

    section#hero .hero-bg ul li {
        width: 100%;
    }

    section#hero .hero-bg ul li.hero-text {
        padding: 16px 0 0;
    }

    section#hero .hero-bg ul li.hero-text {
        margin-top: 20px;
        text-align: center;
        width: 80%;
    }

    section#hero .hero-bg ul li.hero-text h1 {
        font-size: 24px;
    }

    section#hero .hero-bg ul li.hero-text p {
        font-size: 12px;
    }

    section#hero .hero-bg ul li img {
        width: 76%;
    }

    section#hero .hero-bg ul li.hero-text .btn-hero {
        margin-top: 28px;
    }

    section#hero .hero-bg ul li.hero-text .btn-hero button {
        padding: 8px 24px;
        font-size: 12px;
    }

    section#faq .container-faq {
        width: 100%;
    }

    section#ctaBadge .cta-bg img {
        width: 24%;
        margin-bottom: 18px;
    }

    section#ctaBadge .cta-bg .cta-text p {
        font-size: 14px;
    }

    section#ctaBadge .cta-bg .btn-cta button {
        font-size: 12px;
    }

    section#ctaBadge .cta-bg .btn-cta button {
        padding: 8px 16px;
    }

    section#heroDetailBootcamp .title h4 {
        text-align: center;
        margin-top: 18px;
    }

    section#heroDetailBootcamp .title h1 {
        padding-right: 0;
        text-align: center;
    }

    section#heroDetailBootcamp .hero-bg .hero-text p {
        padding-right: 0;
        text-align: center;
    }

    section#descBootcamp .container-desc img {
        height: 298px;
    }

    section#descBootcamp .container-desc .text-wrapper p {
        font-size: 14px;
    }

    section#descBootcamp .container-desc .info-bootcamp ul.info-list li {
        width: 48%;
        margin: 6px 0;
    }

    section#descBootcamp
        .container-desc
        .info-bootcamp
        ul.info-list
        li
        .info-title {
        font-size: 14px;
    }

    section#descBootcamp .container-desc .info-bootcamp ul.info-list li .desc {
        font-size: 14px;
    }

    section#learn .title {
        width: 100%;
        text-align: center;
    }

    section#tools .container-tools li .card-tools {
        width: 152px;
        padding: 12px 0;
    }

    section#tools .container-tools li .card-tools .card-img {
        display: flex;
        justify-content: center;
    }

    section#tools .container-tools li .card-tools .card-img img {
        width: 52%;
        height: 76px;
        object-fit: fill;
        padding: 6px;
    }

    section#tools
        .container-tools
        ul.tools-list
        li
        .card-tools
        .card-desc
        .title-desc
        ul
        li {
        font-size: 16px;
    }

    section#bootcampCard .card-bootcamp .img-card {
        width: 230px;
    }

    section#bootcampCard .card-bootcamp .img-card .bootcamp-img {
        height: 280px;
    }

    section#bootcampCard .card-bootcamp .content-card {
        width: 348px;
    }

    section#bootcampCard .card-bootcamp .bootcamp-name {
        font-size: 22px;
        line-height: 22px;
        font-weight: var(--bold);
    }

    section#bootcampCard .card-bootcamp .bootcamp-desc {
        font-size: 14px;
    }

    section#bootcampCard .card-bootcamp .bootcamp-btn button {
        border-radius: 6px;
        font-size: 14px;
        padding: 6px 28px;
        margin-top: 8px;
    }

    footer {
        padding: 42px 0;
    }
}

@media screen and (max-width: 716px) {
    section#review .card-review {
        width: 196px;
        padding: 12px;
    }

    section#review .card-review .reviewer-name {
        font-size: 18px;
        margin-bottom: 10px;
    }

    section#review .card-review .reviewer-star ul li img {
        width: 20px;
    }

    section#review .card-review .reviewer-text {
        font-size: 12px;
    }
}

@media screen and (max-width: 680px) {
    section#bootcampCard .card-bootcamp .img-card {
        width: 216px;
    }

    section#bootcampCard .card-bootcamp .content-card {
        width: 308px;
    }

    section#bootcampCard .card-bootcamp .bootcamp-name {
        font-size: 18px;
        line-height: 22px;
    }
}

@media screen and (max-width: 612px) {
    section .title h4 {
        font-size: 14px;
    }

    section .title h1 {
        font-size: 26px;
    }

    section#hero .hero-bg ul li.hero-text .btn-hero button {
        padding: 8px 20px;
    }

    section#ctaBadge .cta-bg {
        display: flex;
        align-items: center;
    }

    section#ctaBadge .cta-bg > * {
        margin: 24px 0;
    }

    section#ctaBadge .cta-bg img {
        width: 30%;
        margin-bottom: 0;
    }

    section#ctaBadge .cta-bg .cta-text {
        width: 68vw;
        margin-bottom: 0;
    }
    section#ctaBadge .cta-bg .cta-text p {
        text-align: center;
        font-size: 14px;
        margin-bottom: 0;
    }

    section#ctaBadge .cta-bg .btn-cta button {
        padding: 8px 20px;
        border-radius: var(--tags-rad);
    }

    section#learn .accordion .accordion-item h2 button i.number {
        width: 28px;
        height: 28px;
        font-size: 12px;
    }

    section#learn .accordion .accordion-item h2 button i.text {
        font-size: 16px;
    }

    section#bootcampCard .card-bootcamp .img-card {
        width: 196px;
    }

    section#bootcampCard .card-bootcamp .content-card {
        width: 268px;
    }
}

@media screen and (max-width: 586px) {
    section#hero-bootcamp .desc p {
        font-size: 14px;
    }

    section#heroDetailBootcamp .hero-bg .hero-img img {
        width: 202px;
        height: 276px;
    }

    section#heroDetailBootcamp .hero-bg .hero-text .title h4 {
        text-align: center;
    }

    section#heroDetailBootcamp .hero-bg .hero-text .title h1 {
        font-size: 18px;
    }

    section#heroDetailBootcamp .hero-bg .hero-text p {
        font-size: 14px;
    }

    section#descBootcamp .container-desc .info-bootcamp ul.info-list li {
        width: 100%;
    }

    section#review .card-review .reviewer-name {
        font-size: 18px;
    }

    section#review .card-review .reviewer-star ul {
        margin-bottom: 14px;
    }

    section#review .card-review .reviewer-star ul li img {
        width: 22px;
    }

    section#review .card-review .reviewer-text {
        font-size: 12px;
    }
    section#bootcampCard .card-bootcamp {
        flex-direction: column;
        width: 100%;
    }

    section#bootcampCard .card-bootcamp .img-card {
        width: auto;
    }

    section#bootcampCard .card-bootcamp .img-card .bootcamp-img {
        height: 326px;
    }
    section#bootcampCard .card-bootcamp .content-card {
        width: 94%;
        text-align: center;
    }

    section#bootcampCard .card-bootcamp .bootcamp-name {
        font-size: 18px;
        line-height: 22px;
        text-align: center;
    }

    section#bootcampCard .card-bootcamp .bootcamp-desc {
        text-align: center;
    }

    section#bootcampCard .card-bootcamp .bootcamp-price ul {
        justify-content: center;
    }

    section#bootcampCard .card-bootcamp .bootcamp-btn {
        justify-content: center;
    }
}

@media screen and (max-width: 460px) {
    /* footer ul.bottom-footer ul.socmed li a {
    font-size: 14px;
  }

  footer ul.bottom-footer ul.socmed li {
      width: 26px;
      height: 26px;
      padding: 3px;
  } */

    footer ul.bottom-footer {
        justify-content: normal;
        flex-direction: column;
    }

    footer ul.bottom-footer ul.socmed li {
        margin: 12px 6px 0;
    }
}

@media screen and (max-width: 426px) {
    section#ctaBadge .cta-bg img {
        width: 60%;
        margin-bottom: 0;
    }

    section#learn .accordion .accordion-item h2 button i.number {
        width: 24px;
        height: 24px;
    }

    section#learn .accordion .accordion-item h2 button i.text {
        font-size: 14px;
    }

    section#learn
        .accordion
        .accordion-item
        .accordion-collapse
        .accordion-body
        ul.list-detail
        li {
        font-size: 14px;
    }
}
